@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1366px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  max-width: 1366px;
  padding: 2rem;

  background-color: #fff;
}

.navbar__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__link {
  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4rem 2rem;

  background-color: #fff;
}

.welcome-section__title {
  width: 80%;
  margin: 0 auto;
  padding: 0;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}

.welcome-section__subtitle {
  width: 40%;
  margin: 0 auto;
  padding: 0;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4rem 2rem;

  background-color: #32363d;
}

.projects__title {
  width: 100%;
  margin: 0 auto 4rem;
  padding: 0;

  color: #fff;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
}

.projects__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 80%;
  margin: 0 0 4rem;
  padding: 0;

  list-style-type: none;
}

.projects__item {
  width: 100%;
}

.project__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.project__link:hover {
  text-decoration: underline;
}

.project__thumbnail {
  width: 100%;
  object-position: center;
  object-fit: contain;
  margin-bottom: 1rem;

  border: 2px solid #fff;
}

.project__title {
  width: 100%;
  margin: 0;
  padding: 0;

  color: #FFF;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.projects__other {
  width: 40%;
  min-height: 2.5rem;
  padding: .5rem .5rem;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;

  background-color: #fff;
  border: 1px solid #fff;

  cursor: pointer;
}

.footer {
  width: 100%;
  max-width: 1366px;
  padding: 4rem 2rem;

  background-color: #fff;
}

.footer__text {
  margin: 0 auto;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.footer__link {
  color: #000;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
